.select {

    width: 450px;
    margin: 20px auto;
}

/* .formDataStepTwo {
    display: flex;
}

.contentAlignForm h1 {
    height: 2rem;
    font-weight: bolder;
    font-size: 22px;
}

.underLine b {
    width: 50px;
}

.skills {
    text-align: left;
    width: 50%;
}


.skills b {
    font-size: 14px;
    line-height: 1.4;
}

.header .formDataStepTwo .stepOne {
    width: 300px;
    height: 100%;
    border-bottom: 5px solid #9747FF;
}

.header .formDataStepTwo .stepTwo {
    width: 300px;
    height: 100%;
    border-bottom: 5px solid #9747FF;
}

.header .formDataStepTwo .stepThree {
    width: 300px;
    height: 100%;
    border-bottom: 5px solid #898989;
}

.formDataStepTwo .stepOne .alignContent .countingSteps {
    background-color: #D9D9D9;
    color: #898989;
}


.formDataStepTwo .stepTwo .alignContent .countingSteps {
    background-color: #9747FF;
    color: #fff;
}

.formDataStepTwo .stepThree .alignContent .countingSteps {
    background-color: #D9D9D9;
    color: #898989;
}

h2 {
    border: 2px solid red;
}

.underLine {
    margin: 8px;
    height: 2px;
    width: 50%;
    border-top: 1px solid #ded2ff;
}

h1 {
    margin: 1rem;
    width: 50%;
}

.profissao {
    margin: 8px;
    width: 434px;
    height: 50px;
    border-radius: 9px;
    color: #000;
    padding: 10px;
    border:2px solid#ded2ff;
} */