body.active-modal {
    overflow-y: hidden;
}

.btnLogin {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(43,24,83,0.9);
}
.modal-content {
    margin-top: 5%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: rgba(217,217,217,0.7);
    padding: 14px 28px;
    border-radius: 3px;
    /* max-width: 800px;
    min-width: 300px; */
    height: 450px;
    width: 726.15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.formLogin{
    width: 70%;
    height: 300px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iptEmail{
    margin: 8px;
    width: 95%;
    height: 40px;
    border-radius: 2rem;
    color: #000;
    padding: 10px;
    border: 2px solid#ded2ff;
    background-color: rgba(113,101,146,0.4);
}

.iptSenha{
    margin: 8px;
    width: 95%;
    height: 40px;
    border-radius: 2rem;
    color: #000;
    padding: 10px;
    border: 2px solid#ded2ff;
    background-color: rgba(113,101,146,0.4);
}

.formLogin span{
padding-left: 20px;
color: #000;

}

.createAcount{
    margin: 8px;
    text-align: center;

}



.btnAcess{
    margin: auto;
    width: 139px;
    height: 65px;
    background-color: rgba(151, 71, 255, 1);
    border-radius: 3rem;
    color: #fff;
}

 